/*------------images section-------------------*/
#mid-section{
  /* border: 2px solid red; */
  position: absolute;
  width: 1540px;;
  height: 83%;
  top: 100px;
  margin: 0px 0px 0px 10px;

}
#img1 { 
  position: absolute;
  height: 100%;
  width: 100%;
}
#img2{
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  animation: imageEnter 0.3s forwards;
}
@keyframes imageEnter {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
#img3 {
  height: 100%;
  width: 100%;
  display: none;
}
#img4 {
  height: 100%;
  width: 100%;
  display: none;
}
#img5 {
  height: 100%;
  width: 100%;;
  display: none;
}

#btn1{
  /* border: 2px solid red; */
  height: 250px;
  background: none;
  font-size: 70px;
  position: absolute;
  top: 0;
  border: none;
  left: 0;
  padding: 0px 20px 0px 20px;
 
}
#btn1::before{
  
}

#btn2{
  /* border: 2px solid red; */
  height: 250px;
  background: none;
  font-size: 70px;
  position: absolute;
  border: none;
  top: 0;
  right: 0;
  padding: 0px 20px 0px 20px;
}
#btn1:hover{
  border: 3px solid rgb(15, 172, 215);
  box-shadow: 1px 1px 0px 0px white;
  border-radius: 7px;
 
}
#btn2:hover{
  border: 3px solid rgb(15, 172, 215);
  box-shadow: -1px 1px 0px 0px white;
  border-radius: 7px;
 
}
/*--------------- Card section -----------------------*/
#card{
  /* border: 2px solid red; */
  position: relative;
  top: 253px;
  left: 0px;
  height: 1000px;
  width: 100%;
  /* margin: 0px 20px 20px 20px; */
}
.square-cards{
  border: 2px solid red;
  margin: 0px 20px 0px 20px;

}
.top-cards{
  /* border: 2px solid red; */
   display: flex;
   justify-content: space-between; 
   margin-bottom: 20px;
  
  }
  .top-cards a, a:link, a:visited{
    text-decoration: none;
    color: #007185;
    font-size: 13px;
  }
  .top-cards a:hover{
    color: orange;
    text-decoration: underline;
  }
 
.box-card{
  /* border: 1px solid blue; */
  width: 450px;
  height: 420px;
  display: flex;
  flex-direction: column;
  margin: 0px 10px 0px 10px;
  background-color: white;
  box-shadow: 0px 0px 3px rgb(132, 130, 130);
 
}
.card-header{
  display: inline-block;

  height: 55px;
  margin: 0px 18px 0px 20px;
  
  font-size: 17px;
}
.card-image{

  height: 305px;
  margin: 0px 23px 0px 23px;
  cursor: pointer;
  
}
.card-image img{
  width: 100%;
  height: 100%;
}
.card-footer{
  /* border: 2px solid green; */
  height: 100px;
  display: flex;
  align-items: center;
  margin: 0px 23px 0px 22px;
  /* padding: 0px 20px 0px 20px; */
  font-weight: bold;
}
.card7>.card-header{
    height: 80px;
}
.card7>.card-image{
  height: 368px;
}
.card7>.card-footer{
  height: 85px;
}

.card8>.card-image{
height: 368px;
}
.card8>.card-footer{
height: 85px;
}

.rectangular-card{
  border: 2px solid red;
}